@model DetailsUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <div class="container">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="fw-bold">Id</td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td class="fw-bold">First Name</td>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <td class="fw-bold">Last Name</td>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <td class="fw-bold">Email</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td class="fw-bold">Password</td>
                    <td>@Model.Password</td>
                </tr>
                <tr>
                    <td class="fw-bold">Role</td>
                    <td>@Model.Role</td>
                </tr>
            </tbody>
        </table>
        <partial name="_BackToUserListPartial" />
    </div>
</div>
